@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700& family=Roboto&display=swap");
:root {
  --cor-fundo: #00030c;
  --cor-texto-principal: #ffffff;
  --cor-texto-secundario: #c0c0c0;
  --cor-botao: #167bf7;

  --fonte-familia: "Inter";
  --fonte-secundaria: "Roboto";
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--cor-fundo);
  font-family: var(--fonte-familia);
  font-weight: 400;
  color: var(--cor-texto-principal);
}
.container {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100vh;
}
.principal {
  background-image: url("img/Background.png");
  background-repeat: no-repeat;
  background-size: 100%;
  align-items: center;
  text-align: center;
}
.principal__texto {
  margin: 10%;
}
.principal__titulo {
  font-weight: 700;
  margin: 5% 0%;
}
.principal__img {
  margin: 1rem 0 3rem 0;
}
.principal__botao {
  width: 30rem;
  display: block;
  margin-top: 1rem;
  border: 1px solid var(--cor-texto-principal);
  padding: 1rem;
  color: var(--cor-texto-principal);
  border-radius: 0.5rem;
}
.--azul {
  background-color: var(--cor-botao);
  border: none;
}
.principal__paragrafo {
  margin-top: 0.625rem;
  font-family: var(--fonte-secundaria);
}
