@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
:root {
  --cor-fundo: #00030c;
  --cor-texto-principal: #ffffff;
  --cor-texto-secundario: #c0c0c0;
  --cor-botao: #167bf7;

  --fonte-familia: "Inter", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--cor-fundo);
  font-family: var(--fonte-familia);
  color: var(--cor-texto-principal);
}
.container {
  text-justify: auto;
  height: 100vh;
}
.principal {
  background-image: url("img/Background.png");
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
  align-itens: center;
}
.principal__texto {
  padding: 10%;
  text-align: center;
  height: 27rem;
  width: 36.75rem;
}

.principal__botao {
  display: block;
  text-align: center;
  width: 30rem;
  padding: 1rem;
  color: var(--cor-texto-principal);
  border-radius: 0.5rem;
}
.--azul {
  background-color: var(--cor-botao);
}
.principal__paragrafo {
}
